@font-face {
  font-family: "Modernist-Bold";
  src: url("../assets/fonts/Sk-Modernist-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modernist-Medium";
  src: url("../assets/fonts/Sk-Modernist-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modernist-Regular";
  src: url("../assets/fonts/Sk-Modernist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --font-regular: "Modernist-Regular", sans-serif;
  --font-medium: "Modernist-Medium", sans-serif;
  --font-bold: "Modernist-Bold", sans-serif;

  /* Colors */
  --color-white: #fff;
  --color-text-dark: #000;
  --color-muted: #adb5bd;

  /* Spacing */
  --page-padding: calc(1px + 1.2vw) calc(1px + 2vw);

  /* Typography */
  --largest-font-size: 2.3rem;
  --largerer-font-size: 1.6rem;
  --larger-font-size: 1.02rem;
  --base-font-size: 0.92rem;
  --base-line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
  font-size: var(--base-font-size);
  text-decoration: none;
  color: var(--color-white);
  list-style: none;
  line-height: var(--base-line-height);
  scroll-behavior: smooth;
  cursor: crosshair;
}

html,
body {
  overflow-x: hidden;
}

/* 4k  */
@media (min-width: 2561px) {
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1600px) {
}

/* Tablet (Landscape) */
@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
}

/* Tablet (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}

/* Large Phone (Portrait) */
@media (min-width: 431px) and (max-width: 767px) and (orientation: portrait) {
}

/* Mobile (Landscape) */
@media screen and (max-width: 900px) and (orientation: landscape) {
}

/* Mobile (Portrait) */
@media (max-width: 430px) and (orientation: portrait) {
}
